.tabs {
  padding: 80px 0;
  background-position: center !important;
  background-size: cover !important;
  padding-top: 0;
}

.tabs .ant-tabs.ant-tabs-top.tour-tabs {
  width: 80%;
  margin: auto;
}

.tour-tabs .ant-tabs-nav {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 50px !important;
}

.tour-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 72px;
  padding: 30px 0;
}

.tour-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #151727;
}

.tour-tabs .ant-tabs-ink-bar {
  background: #151727;
}

.tour-tabs .ant-tabs-nav-wrap .ant-tabs-tab-btn {
  text-transform: uppercase;
}

.tab-content {
  padding: 20px 0;
}

.tab-content .full-width-img {
  text-align: center;
  margin-bottom: 40px;
}

.tab-content .full-width-img img {
  width: 60%;
  margin: auto;
}

.tab-content .content-head {
  margin-bottom: 50px;
}

.tab-content .content-head h3 {
  text-align: center;
  font-family: 'Ivy Mode';
  font-size: 46px;
  padding-bottom: 12px;
  position: relative;
}

.tab-content .content-head h3 span {
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 60px;
  height: 10px;
}

.tab-content .content-head p {
  text-align: center;
  margin-top: 20px;
  font-family: 'Pragmatica Extended';
  font-style: italic;
}

.tab-content .content-text p {
  margin-bottom: 15px;
}

.tab-content .itinerary-options {
  margin-top: 80px;
  padding-bottom: 50px;
}

.options-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.options-wrap .option-card {
  width: 32%;
  text-align: center;
  border: 1px solid #e1e1e1;
  padding: 50px 0;
  position: relative;
}

.options-wrap .option-card:nth-child(3) {
  padding-left: 40px;
}

.options-wrap .option-card:nth-child(2) {
  z-index: 2;
  color: #fff;
  padding: 25px 0;
}

.options-wrap .option-card:nth-child(2) h4 {
  color: #fff;
  position: relative;
  z-index: 4;
}

.options-wrap .option-card:nth-child(2) li {
  z-index: 2;
}

.options-wrap .option-card:nth-child(2) li::before {
  border: 2px solid #fff;
}

.options-wrap .option-card:nth-child(2)::after {
  content: '';
  position: absolute;
  top: -15%;
  left: -15%;
  background: #151727;
  width: 130%;
  height: 130%;
  z-index: 1;
}

.options-wrap .option-card h4 {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 10px;
}

.options-wrap .option-card ul {
  margin-top: 40px;
}

.options-wrap .option-card li {
  position: relative;
  text-align: left;
  width: 70%;
  margin: 4px auto;
  font-size: 16px;
  font-weight: 300;
  padding-left: 20px;
}

.options-wrap .option-card li::before {
  content: '';
  width: 12px;
  height: 12px;
  background: transparent;
  border: 2px solid #151727;
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 50%;
}

.it-list {
  margin-top: 50px;
}

.it-list .it-wrap {
  margin: 30px 0;
}

.it-list .day-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.it-list .day-title span {
  border: 1px solid #151727;
  padding: 5px;
  margin-right: 15px;
  border-radius: 20px;
  width: 113px;
  text-align: center;
  text-transform: uppercase;
  color: #151727;
  font-weight: 500;
  font-size: 14px;
}

.it-list .day-title h5 {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */