.app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0,0,0);
    border: 1px solid #0080c5;
    opacity: 0.3;
    transition: 0.2s;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    .dot {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: #0080c5;
    }
}

a:hover ~ .app-cursor {
    transform: scale(4);
}
  