$base-color : #0080C5;
$dark-blue: #151727;

.btn-style {
    span {
        svg {
            width: 18px;
        }
    }

    
}

.btn-style.dark {
    span {
        border: 1px solid #000;
    }

    color: #000;
}

.btn-style.light {
    span {
        border: 1px solid #fff;
    }

    color: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 10px;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            img {
                width: 311px;
            }
        }

        nav {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background: #DFDFDF;
                bottom: -20px;
            }

            ul {
                list-style: none;
                display: flex;

                &:hover {
                    li {
                        a {
                           opacity: 0.5;
                        }
                    }
                }

                li {
                    margin-left: 65px;

                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        color: #fff;
                        text-transform: capitalize;
                        font-size: 16px; 
                        transition: 0.5s;
                        display: inline-block;
                        font-weight: 500;

                        &:hover {
                            opacity: 1;
                        }

                        .nav-item {
                            line-height: 1.3;
                        
                            .subtitle {
                                display: block;
                                font-size: 15px;
                                font-weight: 100;
                                
                            }
                        
                        }
                    }
                }
            }
        }
    }


}

.banner {
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    height : 100vh;
    position: relative;


    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;   
        background: rgba(0, 0, 0, 0.2);
        z-index: 2;

    }

    video.featured_video {
        display: block;
        width: 100%;
        visibility: visible;
        height: 100%;
        object-fit: cover;
        object-position: 50%;
    }
    
    
    .search-bar{
        position: absolute;
        bottom: 25%;
        z-index: 3;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);


        input {
            width: 500px;
            height: 60px;
            padding: 0 30px;
            background: transparent;
	        backdrop-filter: blur(3.5px);
            border: 1px solid #fff;
            color: #fff;
            border-radius: 30px;

            &::placeholder {
                color: #fff;
            }

            &:focus {
                outline: none;
                background: #fff;
                color: #000;
            }
        }

        button {
            border-radius: 50%;
            background: $base-color;
            width: 55px;
            height: 55px;
            border: 0;
            position: absolute;
            right: 5px;
            top: 2px;
            cursor: pointer;

        }
    }

    .banner-text {
        position: absolute;
        top: 30%;
        width: 100%;
        z-index: 3;
        text-align: center;

        h1 {
            color: #fff;
            width: 740px;
            margin: auto;
            font-size: 88px;
            font-family: 'Kudryashev Headline';
            font-weight: 700;
            line-height: 1.18;
            text-shadow: 1px 3px 1px rgba(72, 65, 65, 0.5);
        }

        a {
            color: #fff;
            margin-top: 20px;
            display: inline-block;
        }
    }
}


.intro-container {
    padding: 80px 0;
    position: relative;
    height: 670px;
    position: relative;
    cursor: pointer;
    padding-bottom: 380px;
    overflow: hidden;


    .intro-img {
        img {
            width: 100%;
            position: relative;
            z-index: 5;
            height: 540px;
            object-fit: cover;
        }
    }

    .intro-head {
        width: 390px;
    }

    .intro-text {
        margin-left: 200px;
        margin-top: 50px;
        display: flex;

        p {
            width: 316px;
            margin-right: 70px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .intro-video {
        .play-btn {
            position: absolute;
            top: 36.5%;
            left: 76.56%;
            z-index: 5;
            animation: rotation 8s infinite linear;
            pointer-events: none;
            transition: top 1s, left 1s;
            transition-timing-function: ease-out;
            display: none;
            



            a {
                background: #151727;
                width: 80px;
                height: 80px;
                display: inline-flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                opacity: 0.5;

                img {
                    margin-left: 5px;
                }
            }
        }
    }

}

.activities {
    padding: 120px 0;
    position: relative;
    background: #e6f5fa;
    



    .activity-head {
        display: flex;
        height: 100%;
        align-items: flex-end;
        position: relative;

        &:after {
            position: absolute;
            content: "";
            background: url(../../outline-background.svg);
            width: 150%;
            height: 100%;
            left: -180px;
            background-size: cover;
            opacity: 0.1;
            transform: rotate(-10deg);
        }


        p {
            width: 400px;
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 691px;
        object-fit: cover;
    }
  

    .swiper-slide {
        width: 350px;
        height: 700px;

        &:nth-child(2n) {
            width: 420px;  
        }

        &:nth-child(3n) {
            width: 420px;  
        }

        &:first-child {
            width: 30%;
            margin-left: -50%;
        }
    }

    .activity-card {
        position: relative;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.04);
            }

            &::after {
                opacity: 1;
                transform:translateY(0)
            }
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background:linear-gradient(0deg, rgb(20, 20, 20), rgb(32, 32, 32) 15%, transparent);
            z-index: 1;
            transition: 1s;
            opacity: 0;
            transform:translateY(100px)
        }

        a {
            color: #fff;
            
        }

        img {
            transition: 1s;
        }

        .title-card {
            display: flex;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
            align-items: center;

            h5 {
                margin-left: 10px;
                color: #fff;
                text-shadow: 1px 3px 1px rgba(72, 65, 65, 0.5);
              
            }

            figure {
                background-color: #fff;
                height: 52px;
                width: 52px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;

                img {
                    height: 40px;
                    width: 40px;
                    // border: 1px dotted #000;
                    border-radius: 50%;
                    object-fit: contain;
                    padding: 3px;
                    
                }
            }
        }

    }
    
}

.destinations {
    min-height: 987px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;

    .destinations-head {
        position: absolute;
        top: 10%;
        right: 21.1%;
        z-index: 3;
        text-align: right;

        h4, p {
            width: 350px;
            margin-left: auto;
        }
    }

    .nepal-map {
        position: relative;
        width: 1173px;
        margin: 0 auto;
        margin-top: 250px;

        img {
            width: 100%;
            
        }
        
    }

}

.marker-region {
    position: absolute;
    z-index: 3;
    cursor: pointer;

    .marker-icon {
        background-color: #1a1e17;
        color: #fff;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;

        &:hover {
            background-color: #da8d00;
        }

       
    }
}

.region-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $dark-blue;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 4% 0;
    color: #fff;
    display: none;

    .region-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-position: center;
        background-size: cover;
        opacity: 0.05;
    }

    button#close-region {
        background: none;
        border: navajowhite;
        color: #fff;
        position: absolute;
        right: 50px;
        font-size: 42px;
        top: 40px;
        cursor: pointer;
    }

    .circuit-img {
        img {
            width: 100%;
            height: 450px;
            object-fit: contain;
        }
    }


    .regions-links {
        margin-top: 50px;

        a {
            display: inline-block;
            color: #fff;
            
            font-weight: 100;
            text-transform: uppercase;
            margin-right: 20px;
            border: 1px solid #fff;
            padding: 10px 25px;

        }
    }

}

.why-choose {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 80px;

    .ch-item {
        display: flex;
        margin: 15px ;

        ion-icon {
            font-size: 32px;
            margin-right: 20px;
        }
    }

    .ch-item-des {
        h4 {
            font-size: 22px;
            font-weight: 500;
            color: #000;
            font-family: 'Ivy Mode';
        }

        p {
            font-size: 16px ;
            width: 164px;
            line-height: 24px;
        }
    }
}

.stories {
    background: $dark-blue;
    padding: 80px 0;
    color: #fff;
    min-height: 850px;
    position: relative;
    padding-bottom: 300px;

    .scrub-head {
        margin-bottom: 50px;

        h2 {
            -webkit-text-stroke-width: 0.3px;
            font-size: 102px;
            -webkit-text-stroke-color: #fff;
            -webkit-text-fill-color: transparent;
            opacity: 0.1;
            position: absolute;
            top: 95px;
        }
    }


    .story-article {
        position: relative;
        width: 1320px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .story-header-content {
        position: relative;
        width: 468px;
        flex-shrink: 0;
        z-index: 2;
        margin-top: 50px;
        

        .heading-text {
            color: #fff;
        }

        p {
            font-size: 17px;
            font-weight: 200;
        }

      
    }

    .story-play {
        background: #1a1e17;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 1.3s;

        &::after {
            position: absolute;
            content: '';
            width: 120%;
            height: 120%;
            background: transparent;
            border: 1px solid #1a1e17;
            border-radius: 50%;
        }

        &:hover {
            background: #da8d00;

            &::after {
                border: 1px solid #da8d00;
            }
        }

        img {
            width: 20px !important;
            height: 30px !important;
            object-fit: contain !important;
            margin-left: 5px;
        }
       
    }

    .media-story {
        overflow: hidden;
        cursor: pointer;

        img {
            transition: 1.3s;
        }
         
        &:hover {
            img {
                transform: scale(1.1)
            }

            .story-play {
                transform: scale(0.9) translate(-50%,-50%);
            }
        }
    }

    .story-right {
        position: relative;

        .media-story {
            width: 367px;
            height: 443px;
            margin-left: auto;
            position: relative;
            
            

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:nth-child(2) {
                position: absolute;
                margin-top: -150px;
                right: 180px;
                width: 290px;
                height: 343px;
            }
        
        }
    }

    .story-left {
        position: relative;
        margin-top: -80px;

        .media-story {
            width: 514px;
            height: 374px;
            position: relative;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:nth-child(2) {
                position: absolute;
                margin-top: -80px;
                right: 50px;
                width: 318px;
                height: 270px;
            }

            
        
        }
    }

    
}

.tailor-made {
    padding: 150px 0;

    .tm-wrap {
        display: flex;
        align-items: center;
    }

    .twrap {
        position: relative;
        z-index: 2;
        text-align: center;

        h4 {
            color: #fff;
        }
    }

    .tm-article {
        width: 70%;
        height: 559px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 10px 50px;
  
        .tm-article-wrap {
            width: 60%;

            .btn-style {
                margin-top: 30px;
            }
        }

    }

    .testimonials {
        width: 30%;
        height: 559px;
        position: relative;
        color: #fff;
        z-index: 2;

        &:after {
            content: "";
            position: absolute;
            top: -10%;
            left: -7%;
            width: 110%;
            height: 120%;
            background: #304E6E;
            z-index: -1;
        }

        .testimonial-item {
            text-align: center;
            margin-top: 20px;

            img {
                width: 180px;
                height: 180px;
                border-radius: 50%;
                object-fit: cover;
            }

            .ti-desc {
                margin-top: 30px;

                h5 {
                    font-size: 26px;
                    margin-bottom: 5px;
                }

                span {
                    font-size: 16px;
                    font-weight: 100;
                }

                p {
                    width: 80%;
                    margin: 10px auto;
                }

            }
        }
        
    } 

}

.featured {
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 80px 0;


    &:after {
        content: "";
        background: #151727;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 600px;
        z-index: 1;

    }

    .featured-head {
        position: relative;
        color: #fff;
        z-index: 2;
        width: 450px;

        h4, p {
            color: #fff;
        }

        p {
            font-size: 17px;
            font-weight: 200;
        }
    }

    .latest-slider {
        position: relative;
        z-index: 2;
        margin-top: 50px;
    }

    .latest-item {
        color: #333333;

        .latest-img {
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 550px;
                object-fit: cover;
            }
        }

        h5 {
            font-size: 22px;
            font-weight: 500;
            color: #000;
           
        }

        p {
            font-size: 16px;
            margin: 15px 0;
            display: -webkit-box;
            max-width: 100%;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 90px;
        }

        

    }

   
} 

.footer-animations {
    position: relative;
    overflow: visible;
    height: 1280px;
    overflow: hidden;

    img {
        width: 100%;
    }

    .top-img {
        position: absolute;
        top: 0px;
        z-index: 1;
    }

    .logo-img {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 420px;
        transform: translate(-50%,-50%);
        z-index: 2;
    }

    .bottom-img { 
        position: relative;
        z-index: 3;
    }

    .cloud {
        position: absolute;
        z-index: 3;
    }

    .main-cloud {
        position: absolute;
        bottom: 169px;
        transform: scale(1.2);
        z-index: 4;
        left: 0;
    }

    .logo-text {
        position: absolute;
        bottom: 15%;
        left: 50%;
        width: 660px;
        z-index: 5;
        transform: translateX(-50%);
    }

    // .logo-text {
    //     position: absolute;
    //     bottom: 20%;
    // }

    .cloud-slides {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        opacity: 0.7;
    }
    
    .cloud-slides.slideOne {
        width: 70%;
    }
    
    .cloud-slides.slideTwo {
        width: 50%;
        right: 0;
        left: auto;
    }
    
    
    
    

}

section.anim-wrap {
    height: 1250px;
    overflow: hidden;
}

footer {
    padding: 80px 0;
    padding-top: 200px;
    min-height: 450px;
    background-position: center !important;
    background-size: cover !important;

    .footer-bottom {
        margin-top: 80px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        p {
            font-size: 13px;
            margin-right: 8px;
            margin-bottom: 0;
        }

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            margin: 0 10px;
        }
    }

    .footer-logo {
        img {
            width: 80px;
        }
    }

    .fc-wrap {
        display: flex;
        justify-content: space-between;
    }

    .footer-menu {
        a {
            font-size: 16px;
            margin-bottom: 30px;
            font-weight: 400;
            color: #fff;
            padding-right: 40px;
        }
    }   
    
    .footer-cpy-rights {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        color: #fff;

        p {
            font-size: 14px;
            line-height: 1;
            margin-bottom: 10px;
            font-weight: 200;

            &:first-child {
                font-weight: 300;
            }

            a {
                color: #fff;
                font-weight: 300;
            }
        }
    }

    .ft-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-social {
        a {
            display: inline-block;
            margin-right: 15px;
            color: #ebedf7;
            font-size: 18px;
            margin-left: 30px;
            
        }
    }

    .copy-right {
        p {
            font-size: 16px;
            color : #fff;

            a {
                display: inline-block;
            }
        }
    }
}

.footer-top {
    padding: 80px 0;

    .ft-card {
        text-align: center;

        h4 {
            margin-bottom: 20px;
        }

        img {
            margin: 20px;
            width: 80px;
            height: 80px;
            object-fit: contain;
            filter: grayscale(1);
            transition: 0.3s;
            cursor: pointer; 
            opacity: 0.8;

            &:hover {
                filter: grayscale(0);
                opacity: 1;
            }
    
        
        }
    }
}

// .footer-top {
//     margin-bottom: 30px;
//     .ft-wrap {
//         display: flex;
//         justify-content: space-between;
//         margin: 15px 0;
//         align-items: center;
//     }

//     .ft-card {
//         img {
//             width: 50px;
//             height: 50px;
//             object-fit: contain;
//             margin-right: 15px;
//         }

//         h4 {
//             font-size: 24px;
//             margin-bottom: 30px;
//             font-weight: 200;
//             text-transform: uppercase;
//         }

//         &:nth-child(2) {
//             img {
//                 width: 206px;
//                 height: 130px;
//                 margin-top: 50px;
//             }
//         }

//         &:last-child {
//             h4 {
//                 text-align: right;
//             }
//             .accept-img {
//                 text-align: right;
//             }

//             img {
//                 &:last-child {
//                     margin-right: 0;
//                 }
//             }
//         }
//     }
    
    
// }


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}